<div class="page-container">
  <div class="logo">
    <%= image_tag 'comp-logo.svg' %>
    <a href="https://www.traicy.com/" class="button-anchor"></a>
  </div>
  <div class="section-top">
    <div class="section-top-background">
      <%= image_tag 'top-background.png' %>
    </div>
    <div class="section-top-desc">
      <p class="section-top-title">
        お得な旅は、
        <br>
        トライシー。
      </p>
      <p class="section-top-small">
        お得な航空券セールが「探せる」「分かる」「買える」、
        <br>
        スマホアプリが2018年度冬登場予定。事前登録でいち早く
        <br>
        アプリを体験しよう。
      </p>
      <div class="section-top-button">
        <a href="https://goo.gl/forms/njiOOrinXeeYBJue2" class="button-anchor"></a>
        <p class="section-top-button-text">無料で事前登録する</p>
      </div>
    </div>
    <div class="section-top-app-image">
      <%= image_tag 'top-app.svg' %>
    </div>
  </div>
  <p class="app-feat-text">トライシーアプリの特徴</p>
  <div class="search-section">
    <p class="common-section-title">
      お得なセールが
      <br>
      <span class="common-section-span">探せる!</span>
    </p>
    <p class="common-section-body">
      掲載航空会社100社以上。
      <br>
      日本に就航する全ての航空会社のセールが探せる。
    </p>
  </div>

  <div class="detect-section">
    <div class="detect-app-image">
      <%= image_tag 'detect-sale.png' %>
    </div>
    <div class="detect-section-desc">
      <p class="common-section-title">
        お得なセールが
        <br>
        <span class="common-section-span">わかる!</span>
      </p>
      <p class="common-section-body">
        編集部が毎日のセールの中からお得なセールを厳選。
        <br>
        「得」印がついているから、もう迷わない。
      </p>
    </div>
  </div>

  <div class="buy-section">
    <div class="buy-section-desc">
      <p class="common-section-title">
        お得なセールが
        <br>
        <span class="common-section-span">買える!</span>
      </p>
      <p class="common-section-body">
        買いたいセールの開始・終了時刻をお知らせ。
        <br>
        売り切れる前に、セールが買えるようになります。
      </p>
    </div>
    <div class="buy-app-image">
      <%= image_tag 'buy-sales.png' %>
    </div>
  </div>

  <div class="bottom-button">
    <a href="https://goo.gl/forms/njiOOrinXeeYBJue2" class="button-anchor"></a>
    <p class="bottom-button-text">無料で事前登録する</p>
  </div>
  <p class="bottom-promote-text">
    登録メールアドレスにアプリの
    <br>
    最新情報をお届けします。
  </p>
</div>